tool:
  users:
    user:
      xdg: true   # force $XDG_CONF_HOME/git/config instead of ~/.gitconfig
      # sync this user's config from a dotfiles repo available as
      # salt://dotconfig/<user>/git or salt://dotconfig/git
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false
      git:        # global git config
        user.name: Mister Robot
        user.email: elliotalderson@protonmail.ch
        user.signingkey: 0xB178523B9C2FA3D1
        credential.helper: cache --timeout=900 # 15m is default. osxkeychain on macos, manager on windows, many more to discover
        core.editor: vim
        gpg.sign: false
      # want to add some switches like setting up global ignore file @TODO
  git:
    system: # system-wide gitconfig file @TODO
      gpg.sign: true

    defaults:     # default git config values for users go here
      gpg.sign: false
